{:paths ["src" "classes"]

 :deps {com.google.apis/google-api-services-gmail {:mvn/version "v1-rev20211108-1.32.1"}
        com.google.cloud/google-cloud-compute {:mvn/version "1.30.0"}
        com.google.cloud.functions/functions-framework-api {:mvn/version "1.1.0"}
        javax.mail/mail {:mvn/version "1.5.0-b01"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                   :ns-default build}}}