{:paths ["src"]

 :deps {com.google.cloud/google-cloud-compute {:mvn/version "1.30.0"}
        com.google.protobuf/protobuf-java-util {:mvn/version "3.21.5"}
        org.clojure/data.json {:mvn/version "2.4.0"}}}